
<div class="container">
    <div class="row" >
        <h1 class="center"> REGISTRO DE INSCRIPCIÓN </h1>
        <br>
        <div class="center" >
            <div class="chip" *ngIf="manejoErroresGeneral">
                <i class="red-text"> {{ manejoErroresGeneral }} </i>
            </div>
        </div>
        <br>
        <form #f="ngForm" (ngSubmit)="guardar(f)">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="matricula" type="text" class="validate" maxlength="9" placeholder="Matricula (9 dígitos)" [(ngModel)]="formulario.idAlumnoMatricula" minlength="9" name="idAlumnoMatricula" (change)="validarCuenta($event.target.value)" required>
                        <label for='matricula'> Matricula: </label>
                    </div>
                    <div class="center" >
                        <div class="chip" *ngIf="manejoErroresUsuario">
                            <i id="validacionUsuario" class="red-text"> {{ manejoErroresUsuario }} </i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="nombre" type="text" placeholder="Nombre(s)" [(ngModel)]="formulario.nombre" name="nombre">
                        <label for="nombre">Nombre: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="paterno" type="text" placeholder="Apellido Paterno" [(ngModel)]="formulario.paterno" name="paterno">
                        <label for="paterno"> Apellido Paterno: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="materno" type="text" placeholder="Apellido Materno" [(ngModel)]="formulario.materno" name="materno">
                        <label for="materno"> Apellido Materno: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" placeholder="E-Mail" [(ngModel)]="formulario.correo" name="correo" required>
                            <label for="email" data-error="El correo es erróneo" data-success="El correo electrónico es correcto">Correo Electrónico</label>
                        </div>
                    </div>
                </div>
                <div class="row input-field col s12" >
                    <select class="browser-default"  name="semestre" [(ngModel)]="formulario.semestre" (change)="verificarSemestre($event.target.value)" required>
                        <option *ngFor="let semestre of semestre" [value]="semestre.id">
                            {{semestre.semestre}}
                        </option>
                    </select>
                    <label>Semestre:  </label>
                    <div class="center" >
                        <div  class="chip" *ngIf="manejoErroresSemestre" >
                            <i id="validacionSemestre" class="red-text"> {{ manejoErroresSemestre }} </i>
                        </div>
                    </div>
                </div>
                <div class="row input-field col s12">
                    <select class="browser-default"  name="grado" [(ngModel)]="formulario.grado" (change)="cambiarGradoAcademico($event.target.value)" required>
                        <option *ngFor="let grado of gradoAcademico;" [value]="grado.id" > 
                            {{grado.nombreGrado}} 
                        </option>
                    </select>
                    <label>Grado Academico: </label>
                </div>
                <div class="row input-field col s12">
                    <select id="especialidad" class="browser-default" name="especialidad" [(ngModel)]="formulario.especialidad" required>
                        <option value="0" disabled selected>Elige una especialidad</option>
                        <option *ngFor="let especialidad of especialidad;" [value]="especialidad.id"  > {{especialidad.nombre}} </option>
                    </select>
                    <label>Especialidad : </label>
                </div>
                <div class="submit-button">
                    <button class="btn validate" type="submit" name="registarte" [disabled]="f.invalid">Registrarte
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
<div>

